// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -webkit-touch-callout: none !important;
  -webkit-user-callout: none !important;
  -webkit-user-select: none !important;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: none;
  color: #faebd7;
}

* {
  touch-action: pan-y pan-x;
  -webkit-touch-callout: none !important;
  -webkit-user-callout: none !important;
  -webkit-user-select: none !important;
  -webkit-overflow-scrolling: touch;
  -webkit-text-size-adjust: none !important;
  font-family: 'Inter', serif;
}

#q-app {
  background: #1e1f26;
}

h3 {
  text-align: center;
  font-size: 80px;
  font-weight: 600;
  margin: 0;
  line-height: 90%;
  line-height: 0.7;
  padding-top: 0.05em;
  color: white;
}

.footer {
  min-height: 60px;
  background: #1e1f26;
  transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);

  a {
    transition: all 0.5s ease;
    color: #03dac6;
    font-size: 2.5vh;
  }
  #summary {
    font-size: 3vh;
  }
}

@keyframes jiggle {
  0% {
    transform: none;
  }

  25% {
    transform: rotateZ(5deg);
  }

  75% {
    transform: rotateZ(-5deg);
  }

  100% {
    transform: none;
  }
}

.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  gap: 10px;
}

.bloc-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;

  span {
    &:hover {
      animation: jiggle ease-in-out 400ms infinite;
    }
  }
}

.bloc-icon img {
  width: 30px;
}

.router-link-active {
  color: #03dac6;
  border-top: 4px solid #03dac6;
  height: auto;
  font-weight: bold;
}

.unique {
  color: #ff0266;
}

.coral {
  color: coral;
}
