html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #1e1f26;
}

main {
  flex-grow: 1; /* Займає весь доступний простір */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Центрує контент по вертикалі */
  align-items: center; /* Центрує контент по горизонталі */
  background-color: #e9ecef;
  overflow: auto;
  padding: 10px;
  background-color: #1e1f26;
  color: #faebd7;
}

footer {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
  flex-shrink: 0; /* Не дозволяє футеру стискатися */
  box-shadow: 0px -20px 30px rgba(0, 0, 0, 0.5);

  .mobile-nav {
    background: #1e1f26;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
  }

  a {
    transition: all 0.5s ease;
    color: #03dac6;
  }

  a:hover {
    color: #1e1f26;
    background: #03dac6;
    transition: all 0.5s ease;
  }

  .active {
    color: #03dac6;
    border-top: 3px solid #03dac6;
    height: auto;
  }
}

.mobile-nav {
  background: #F1F1F1;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.bloc-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloc-icon img {
  width: 30px;
}

#summary {
  font-size: 3vh;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}
