html, body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1; /* Займає весь доступний простір */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Центрує контент по вертикалі */
  align-items: center; /* Центрує контент по горизонталі */
  background-color: #e9ecef;
  overflow: auto;
  padding: 10px;
}

footer {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
  flex-shrink: 0; /* Не дозволяє футеру стискатися */
}

.mobile-nav {
  background: #F1F1F1;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 65px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.bloc-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bloc-icon img {
  width: 30px;
}

#summary {
  font-size: 3vh;
}

.active {
  color: #fff;
  background-color: #6200ea;
  border-radius: 5px;
  padding: 5px 10px;
}
